{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ message['message'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="message">message</label>
    <input name="message" id="message"
      value="{{ request.form['message'] or message['message'] }}" required>
    <!-- <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] or message['body'] }}</textarea> -->
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('messages.delete', id=message['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}